language: python
python:
  - 3.4
  - 3.5

install:
- pip install --upgrade pip
- pip install -r requirements-dev.txt
- pip install codecov

script:
- flake8 aiohttp_security tests
- coverage run --source=aiohttp_security setup.py test

after_success:
- codecov

env:
  matrix:
  - PYTHONASYNCIODEBUG=x
  - PYTHONASYNCIODEBUG=
