-e .
aiohttp==3.12.15
aiohttp-session==2.12.1
async-timeout==5.0.1
coverage==7.10.4
cryptography==45.0.6
hiredis==3.2.1
passlib==1.7.4
pyjwt==2.10.1
pytest==8.4.1
pytest-aiohttp==1.1.0
pytest-cov==6.2.1
pytest-mock==3.14.1
sqlalchemy==2.0.43
