-e .
flake8==3.6.0
async-timeout==3.0.1
pytest==4.0.2
pytest-cov==2.6.0
pytest-mock==1.10.4
coverage==4.5.2
sphinx==1.8.2
pep257==0.7.0
aiohttp-session==2.7.0
aiopg[sa]==0.15.0
aioredis==1.2.0
hiredis==1.0.0
passlib==1.7.1
cryptography==2.7
aiohttp==3.4.4
pytest-aiohttp==0.3.0
pyjwt==1.7.1
