-e .
flake8==3.4.1
pytest==3.2.2
pytest-cov==2.5.1
coverage==4.4.1
sphinx==1.6.3
pep257==0.7.0
aiohttp-session==1.0.1
aiopg[sa]==0.13.1
aioredis==0.3.3
hiredis==0.2.0
passlib==1.7.1
aiohttp==2.2.5
pytest-aiohttp==0.1.2
