-e .
flake8==3.5.0
pytest==3.5.0
pytest-cov==2.5.1
coverage==4.5.1
sphinx==1.7.1
pep257==0.7.0
aiohttp-session==2.3.0
aiopg[sa]==0.13.2
aioredis==1.1.0
hiredis==0.2.0
passlib==1.7.1
cryptography==2.2
aiohttp==3.0.9
pytest-aiohttp==0.3.0
