-e .
aiohttp==3.11.0
aiohttp-session==2.12.1
async-timeout==4.0.3
coverage==7.6.1
cryptography==43.0.3
hiredis==3.0.0
passlib==1.7.4
pyjwt==2.9.0
pytest==8.3.3
pytest-aiohttp==1.0.5
pytest-cov==5.0.0
pytest-mock==3.14.0
sqlalchemy==2.0.36
